@import '../../styles/variables';

$article-padding-mobile: 5px;
$article-padding: 15px;

.ProductCardContent {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

  article {
    padding: 0 $article-padding-mobile $article-padding-mobile;
  }

  @media all and (min-width: $small) {
    flex-direction: row;

    article { padding-top: $article-padding; }
  }

  p {
    font-size: 10px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.thumbnail {
  min-width: 215px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 5px;
}
