@import '../../styles/variables';
@import '../../styles/mixins';

$caret-size: 4px;
$border-radius: 5px;

.ProductCardTitle {
  background-color: $green;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: $border-radius;
  transition: border-radius $transition-duration linear;
  will-change: border-radius;

  h1 {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    line-height: 1;

    @media all and (min-width: $small) {
      font-size: 14px;
    }
  }

  &.active {
    border-radius: $border-radius $border-radius 0 0;
    .caret { transform: rotate(180deg); }
  }
}

.fileIcon {
  width: 14px;
  min-width: 14px;
  height: 16px;
  background-color: $green-dark;
  position: relative;
  margin-right: 10px;

  &::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: $green;
    position: absolute;
    right: 0;
    top: 0;
  }
  $border: 3px;
  &::after {
    content: '';
    border-color: transparent transparent $green-dark transparent;
    border-style: solid;
    border-width: 0 $border $border $border;
    height: 0;
    width: 0;
    position: absolute;
    top: 2px;
    right: 1px;
    transform: rotate(230deg);
  }
}

.caret {
  height: $caret-size;
  padding: 10px 5px 5px;
  margin-left: auto;
  transform: rotate(0deg);
  transition: transform $transition-duration linear;
  background: transparent;
  border: none;
  cursor: pointer;

  @include accessibility-outline;

  &::after {
    content: '';
    @include triangle('bottom', $caret-size, $green-dark);
  }
}
