@import '../../styles/variables';
@import '../../styles/mixins';

.ProductCardNav {
  background: white;
  display: flex;
  padding: 10px;
  border-top: 1px solid $green;
  border-radius: 0 0 3px 3px;

  a {
    color: $green-dark;
    font-size: 10px;
  }

  @media all and (min-width: $small) {
    a { font-size: 12px; }
  }
}

.previous,
.next {
  display: flex;
  align-items: center;


    &::before,
    &::after {
      content: '';
      display: inline-block;
    }
}

.previous {
  margin-right: auto;
  padding-right: 20px;

  &::before {
    margin-right: 5px;
    @include triangle('left', 7px, $green-dark);

    @media all and (min-width: $small) {
      margin-right: 10px;
      @include triangle('left', 10px, $green-dark);
    }
  }
}

.next {
  margin-left: auto;
  text-align: right;

  &::after {
    margin-left: 5px;
      @include triangle('right', 7px, $green-dark);

      @media all and (min-width: $small) {
        margin-left: 10px;
        @include triangle('right', 10px, $green-dark);
      }
  }
}
