@import '../../styles/variables';

.ProductCard {
  width: 90%;
  border-radius: 5px 5px 3px 3px;
  margin: auto;
  box-shadow: $shadow;
}

.contentAndNavContainer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s ease, opacity $transition-duration $transition-duration ease;
  will-change: height, opacity;

  &.expanded {
    max-height: 800px; // TODO: Not ideal - should calculate height of element in JS and apply it
    opacity: 1;
  }
}
